#!/usr/bin/perl

# Destination connection details for "2.cm-convert-ogr-postgis-to-simpleosmosis-postgres.pl"

# README: Copy this sample file to '../connect/destination.pl' and adjust the
# variables below for your local situation.

# Brendan Morley, 2009-12-30

# In the spirit of the CC BY licence used by CommonMap, this script is
# published under the BSD licence.

##
## SETTINGS
##

  ## API User Name
  
  # This is the user name you intend to use for uploading the changes into
  #   the API.
  $commonmap_user_name = 'your_API_username_here';

  # This is the user id in the API database that you intend to use for
  #   bulk copies of PostgreSQL data into the API.  You will have to
  #   ask your API administrator for this number as it typically is not
  #   revealed through the API itself.
  # If unsure, just leave at -1.
  $commonmap_user_id = -1;

  ## Connection string - see DBD::Pg DBI connect() documentation for string format

  # Connection details for destination database (osmosis Simple Schema format)

  $conn_destination     = 'dbi:Pg:dbname=your_destination_database_name_here';
  $user_destination     = 'your_destination_database_username_here';
  $password_destination = 'your_destination_database_password_here';
 
##
## ENDS
##
